<section>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

  <p-toolbar>
    <div class="p-toolbar-group-start">
      <row>
        <p-multiSelect
          [options]="products"
          [(ngModel)]="filteredProducts"
          [filter]="true"
          optionLabel="name"
          inputId="products"
          display="chip"
          placeholder="Select products"
          [showClear]="true"
          [style]="{ 'max-width': '20rem' }"
        ></p-multiSelect>
        <p-multiSelect
          [(ngModel)]="filteredChemicals"
          [options]="chemicals"
          [filter]="true"
          optionLabel="name"
          display="chip"
          placeholder="Select chemicals"
          [showClear]="true"
          [style]="{ 'max-width': '20rem' }"
        ></p-multiSelect>
      </row>
    </div>
    <div class="p-toolbar-group-end">
      <row>
        <button
          pButton
          type="button"
          label="Add Product"
          icon="pi pi-plus"
          (click)="openAddProductDialog()"
        ></button>
        <button
          pButton
          type="button"
          label="Add Chemical"
          icon="pi pi-plus"
          (click)="openAddChemicalDialog()"
        ></button>
      </row>
    </div>
  </p-toolbar>
  <space></space>

  <div>
    <p-fieldset
      [style]="{ 'margin-bottom': '1rem' }"
      [toggleable]="true"
      *ngFor="let product of filteredProducts"
      legend="{{ product.name | capitalize }}"
    >
      <div [style]="{
        'justify-content': 'space-between',
        'display': 'flex',
        'flex-direction': 'row'
        }">
        <div>
          <app-chemical
            *ngFor="let chemical of product.chemicals"
            [chemical]="chemical"
            (chemicalClicked)="onChemicalClicked($event)"

          >
          </app-chemical>
        </div>
        <div>
          <row>
            <p-divider layout="vertical" styleClass="hidden md:flex">
            </p-divider>
            <p-button severity="danger" icon="pi pi-trash" type="button"
                      (click)="deleteProduct(product)"></p-button>
          </row>
        </div>
      </div>
      <space></space>
      <p-button severity="secondary" label="View Details"
                icon="pi pi-external-link"
                [routerLink]="['/products', product.id]"></p-button>
    </p-fieldset>
  </div>
</section>
